<h1>Urheilijan viikko-ohjelma</h1>

<%= link_to 'Luo uusi harjoitus', new_article_path %>

<p>
<% if @articles.exists?(:day => "Maanantai") %>
		<h2>Maanantai</h2>
		<table>
		  <tr>
			<th>Harjoitus</th>
			<th>Aika</th>
			<th colspan="2"></th>
		  </tr>
			<% @articles.where(:day => "Maanantai").each do |article| %>
			<tr>
			  <td><%= article.title %></td>
			  <td><%= article.text %></td>
			  <td><%= link_to 'Näytä', article_path(article) %></td>
			  <td><%= link_to 'Muokkaa', edit_article_path(article) %></td>
			  <td><%= link_to 'Poista', article_path(article),
					  method: :delete,
					  data: { confirm: 'Oletko varma?' } %></td>
			</tr>
			<% end %>
		</table>
<% else %>
<h2>Maanantai</h2>
<h4>Ei harjoituksia!</h4>
<% end %>
</p>

<p>
<% if @articles.exists?(:day => "Tiistai") %>
	<h2>Tiistai</h2>
	<table>
	  <tr>
		<th>Harjoitus</th>
		<th>Aika</th>
		<th colspan="2"></th>
	  </tr>
		<% @articles.where(:day => "Tiistai").each do |article| %>
		<tr>
		  <td><%= article.title %></td>
		  <td><%= article.text %></td>
		  <td><%= link_to 'Näytä', article_path(article) %></td>
		  <td><%= link_to 'Muokkaa', edit_article_path(article) %></td>
		  <td><%= link_to 'Poista', article_path(article),
				  method: :delete,
				  data: { confirm: 'Oletko varma?' } %></td>
		</tr>
		<% end %>
	</table>	
<% else %>
<h2>Tiistai</h2>
<h4>Ei harjoituksia!</h4>
<% end %>
</p>

<p>
<% if @articles.exists?(:day => "Keskiviikko") %>
<h2>Keskiviikko</h2>
<table>
  <tr>
    <th>Harjoitus</th>
    <th>Aika</th>
	<th colspan="2"></th>
  </tr>
	<% @articles.where(:day => "Keskiviikko").each do |article| %>
	<tr>
	  <td><%= article.title %></td>
	  <td><%= article.text %></td>
	  <td><%= link_to 'Näytä', article_path(article) %></td>
	  <td><%= link_to 'Muokkaa', edit_article_path(article) %></td>
	  <td><%= link_to 'Poista', article_path(article),
			  method: :delete,
			  data: { confirm: 'Oletko varma?' } %></td>
	</tr>
	<% end %>
</table>
<% else %>
<h2>Keskiviikko</h2>
<h4>Ei harjoituksia!</h4>
<% end %>
</p>

<p>
<% if @articles.exists?(:day => "Torstai") %>
<h2>Torstai</h2>
<table>
  <tr>
    <th>Harjoitus</th>
    <th>Aika</th>
	<th colspan="2"></th>
  </tr>
	<% @articles.where(:day => "Torstai").each do |article| %>
	<tr>
	  <td><%= article.title %></td>
	  <td><%= article.text %></td>
	  <td><%= link_to 'Näytä', article_path(article) %></td>
	  <td><%= link_to 'Muokkaa', edit_article_path(article) %></td>
	  <td><%= link_to 'Poista', article_path(article),
			  method: :delete,
			  data: { confirm: 'Oletko varma?' } %></td>
	</tr>
	<% end %>
</table>
<% else %>
<h2>Torstai</h2>
<h4>Ei harjoituksia!</h4>
<% end %>
</p>

<p>
<% if @articles.exists?(:day => "Perjantai") %>
<h2>Perjantai</h2>
<table>
  <tr>
    <th>Harjoitus</th>
    <th>Aika</th>
	<th colspan="2"></th>
  </tr>
	<% @articles.where(:day => "Perjantai").each do |article| %>
	<tr>
	  <td><%= article.title %></td>
	  <td><%= article.text %></td>
	  <td><%= link_to 'Näytä', article_path(article) %></td>
	  <td><%= link_to 'Muokkaa', edit_article_path(article) %></td>
	  <td><%= link_to 'Poista', article_path(article),
			  method: :delete,
			  data: { confirm: 'Oletko varma?' } %></td>
	</tr>
	<% end %>
</table>
<% else %>
<h2>Perjantai</h2>
<h4>Ei harjoituksia!</h4>
<% end %>
</p>

<p>
<% if @articles.exists?(:day => "Lauantai") %>
<h2>Lauantai</h2>
<table>
  <tr>
    <th>Harjoitus</th>
    <th>Aika</th>
	<th colspan="2"></th>
  </tr>
	<% @articles.where(:day => "Lauantai").each do |article| %>
	<tr>
	  <td><%= article.title %></td>
	  <td><%= article.text %></td>
	  <td><%= link_to 'Näytä', article_path(article) %></td>
	  <td><%= link_to 'Muokkaa', edit_article_path(article) %></td>
	  <td><%= link_to 'Poista', article_path(article),
			  method: :delete,
			  data: { confirm: 'Oletko varma?' } %></td>
	</tr>
	<% end %>
</table>
<% else %>
<h2>Lauantai</h2>
<h4>Ei harjoituksia!</h4>
<% end %>
</p>

<p>
<% if @articles.exists?(:day => "Sunnuntai") %>
<h2>Sunnuntai</h2>
<table>
  <tr>
    <th>Harjoitus</th>
    <th>Aika</th>
	<th colspan="2"></th>
  </tr>
	<% @articles.where(:day => "Sunnuntai").each do |article| %>
	<tr>
	  <td><%= article.title %></td>
	  <td><%= article.text %></td>
	  <td><%= link_to 'Näytä', article_path(article) %></td>
	  <td><%= link_to 'Muokkaa', edit_article_path(article) %></td>
	  <td><%= link_to 'Poista', article_path(article),
			  method: :delete,
			  data: { confirm: 'Oletko varma?' } %></td>
	</tr>
	<% end %>
</table>
<% else %>
<h2>Sunnuntai</h2>
<h4>Ei harjoituksia!</h4>
<% end %>
</p>